---
layout: internal
---

{% assign settings = site.data.settings %}

<!-- CONTENT -->
<div class="row outer-row">
	<div class="columns">
		<ul class="contact-grid small-block-grid-1 xlarge-block-grid-3" data-equalizer>
			{% for office in settings.offices | limit: 2 %}
				<li>
					<div class="media-tile" data-equalizer-watch>
						<h2>{{ office.title }} Office</h2>
						<p>{{ office.address }}</p>
						<p>
							Phone: <a href="tel:{{ office.phone }}">{{ office.phone }}</a><br>
							Fax: <a href="tel:{{ office.phone }}">{{ office.fax }}</a>
						</p>
						<p>DX: {{ office.address }}</p>
						{% include google_map.html address=office.address %}
					</div>
				</li>
			{% endfor %}
			<li>
				<div class="media-tile" data-equalizer-watch>
					<h2>Send us an email...</h2>
					{% include simple_form_stacked.html %}
				</div>
			</li>
		</ul>
	</div>
</div>