---
layout: internal
---

<!-- CONTENT -->
<div class="row outer-row">
	<div class="large-12 columns">

		<div class="pad-right-for-large item-list">

			<ul class="medium-block-grid-2">
				{% for item in site.data.articles %}
					<li>
						<a class="" href="/news/news-item/">

							<p><img width="100%" src="http://placehold.it/300x200"></p>

							<article class="media-article">
								<div class="media-body">
									<h3>{{ item.title }}</h3>
									<date class="media-tagline">{{ item.date }}</date>

									<!-- SERVER-SIDE TRUNCATION (150 chars max) -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellat, nihil fuga provident ab delectus ex hic odit, eum ipsam a commodi impedit... &nbsp;

									<span class="media-link">Read More &nbsp;<i class="fa fa-angle-right"></i></span></p>
								</div>
							</article>
						</a>
					</li>
				{% endfor %}
			</ul>

			{% include snippets/pagination.html %}

		</div>

	</div>
	<div class="large-4 columns">

		<!-- SIDEBAR -->
		<aside class="sidebar">
			{% include sidebar/sidebar_news.html %}
		</aside>

	</div>
</div>