---
layout: internal
---

<!-- CONTENT -->
<div class="row outer-row">
	<div class="medium-6 xlarge-4 columns">

		<img width="100%" src="/img/ui/no-face.png" alt="John Smith">
		<div class="media-info">
			<ul>
				<li><a href="#">lachlan.vallance@hocw.com.au</a></li>
				<li>Melbourne <a href="#">03 9550 4600</a></li>
				<li>Mount Waverly <a href="#">03 9550 4600</a></li>
				<li>Fax <a href="#">03 9544 8711</a></li>
				<li><a href="#">Download Vcard <i class="fa fa-angle-right"></i></li>
			</ul>
		</div>

		<h4>Key Service Areas</h4>
		<a class="button grey-button" href="#">Wills &amp; Estates</a>
		<a class="button grey-button" href="#">Elder Law</a>
		<br>

	</div>
	<div class="medium-10 xlarge-10 end columns">
		<div class="pad-left-for-large">

			<h1 class="h2">{{ page.title }} <br><small>Principal</small></h1>

			{{ content }}

		</div>
	</div>
</div>