<div class="media-tile media-tile-dark">
	<h3><img width="27" src="/img/template/comment-icon.svg">&nbsp; Contact us today</h3>

	<p>Get in touch to discuss your legal matter, more text here, more CTA description here, more text.</p>

	<p><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:enquiries@hocw.com.au">enquiries@hocw.com.au</a><br><br>
		<i class="fa fa-phone"></i>&nbsp; <a href="mailto:enquiries@hocw.com.au">9629 7411 (Melbourne)</a> &nbsp;&nbsp;
		<span class="hide-for-xxlarge-up"><br></span>
		<i class="fa fa-phone"></i>&nbsp; <a href="mailto:enquiries@hocw.com.au">9550 4600 (Mount Waverley)</a>
	</p>

	<!-- EXPANDER -->
	<div data-expander="contact-form" class="lv-expander">
	    <p data-expander-trigger>...or fill out a form to send us a message <a class="lv-expander-arrow" href="#contact-open"><i class="fa fa-angle-up fa-angle-down"></i></a></p>

	    <!-- Expander Content -->
	    <div data-expander-content="contact-form" class="hide">
	    	<br>
	        {% include simple_form.html %}
	    </div>
	</div>

</div>