{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="columns">

        <!-- Logo -->
        <a class="global-header-logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
            <img src="/img/content/logo.svg" alt="{{ settings.company_title }}" itemprop="logo">
        </a>

        <!-- Hamburger -->
        <div class="global-header-mobile-menu hide-for-xlarge-up">
            <a href><span class="hamburger"><span class="hamburger-icon"></span></span></a>
        </div>

    </div>
</div>

<!-- NAVIGATION -->
<nav class="global-navigation show-for-xlarge-up">
    <div class="row outer-row">
        <div class="columns">
            <div class="topbar">
                {% include navigation.html %}
            </div>
        </div>
    </div>
</nav>