<!-- LATEST BLOG -->
<div class="media-tile news-panel">
	<h3>Latest blog &amp; news updates</h3>

	<!-- BLOCK GRID -->
	<ul class="block-grid-1 large-block-grid-2">
		{% for item in site.data.articles limit: 4 %}
			<li>
				<article class="media-article">
					<a href="{{ item.url }}">
						<div class="media-body">
							<date class="media-tagline">{{ item.date | date: "%d %B %Y" }}</date>

							<!-- SERVER-SIDE TRUNCATION (60 chars max) -->
							<p>{{ item.body | strip_html | truncate: 100 }} &nbsp;

							<span class="media-link"><i class="fa fa-angle-right"></i></span></p>
						</div>
					</a>
				</article>
			</li>
		{% endfor %}
	</ul>
	<a class="media-tile-link text-right" href="/news/">More <i class="fa fa-angle-right"></i></a>
</div>