<form data-abide novalidate method="post" action="#">

	<div class="row">
		<div class="medium-7 columns">

			<!-- Name -->
			<div class="row">
				<div class="columns">
					<label>
						<input name="name" type="text" placeholder="Name*">
					</label>
					<small class="error">Your name is required.</small>
				</div>
			</div>

			<!-- Email -->
			<div class="row">
				<div class="columns">
					<label>
						<input name="email" type="email" placeholder="Email*" required>
					</label>
					<small class="error">A valid email address is required.</small>
				</div>
			</div>

			<!-- Phone (Optional) -->
			<div class="row">
				<div class="columns">
					<label>
						<input name="phone" type="text" placeholder="Phone">
					</label>
					<small class="error">Please try again.</small>
				</div>
			</div>

		</div> <!-- .columns -->
		<div class="medium-9 columns">

			<!-- Message -->
			<div class="row">
				<div class="columns">
					<textarea rows="6" name="message" placeholder="Message*" required></textarea>
					<small class="error">Please enter a message.</small>
				</div>
			</div>

		</div> <!-- columns -->
	</div> <!-- .row -->

	<!-- Submit -->
	<div class="row">
		<div class="columns text-right">
			<button type="submit" class="button tiny">SEND <i class="fa fa-angle-right"></i></button>
		</div>
	</div>

</form>