/*
    HOMEPAGE.CSS

    - Last updated: 11.03.19, 10.09.15
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// HOMEPAGE FEATURE
//-----------------------------------------------------------------

.homepage-feature {
	display: flex;
	flex-direction: column;

	@media #{$medium-up} {
	    margin-bottom: rem-calc(44);
	}

	@media #{$xlarge-up} {
		flex-direction: row;
	}
}

//-----------------------------------------------------------------
// COLS
//-----------------------------------------------------------------

.homepage-feature .col-1,
.homepage-feature .col-2 {
	padding: rem-calc(30 20);

	@media #{$xlarge-up} {
		min-width: 50%;
		padding: rem-calc(30 40);
	}
}

//-----------------------------------------------------------------
// COL-1 (BLUE)
//-----------------------------------------------------------------

.homepage-feature .col-1 {
	background: rgba($primary-color, 0.9);
}

//-----------------------------------------------------------------
// COL-2 (GRAY)
//-----------------------------------------------------------------

.homepage-feature .col-2 {
	background: rgba($secondary-color, 0.9);

	p {
		margin-bottom: 0;
		font-family: $font-family-sans-serif;
		font-size: rem-calc(17);
		line-height: 1.6;
		color: white;
	}
}

//-----------------------------------------------------------------
// LEGAL SERVICES
//-----------------------------------------------------------------

.homepage-feature .legal-services {

	ul {
		list-style: none;
		margin: 0;
		font-size: rem-calc(20);

		@media #{$medium-up} {
		    font-size: rem-calc(26);
		}

		li {
			margin-bottom: rem-calc(20);
			line-height: 1.3;

			@media #{$xxlarge-up} {
			    margin-bottom: rem-calc(10);
			}

			a {
				display: flex-inline;
				align-items: center;
				font-family: $font-family-sans-serif;
				font-weight: 600;
				color: white;

				.fa-angle-right {
					display: inline;
					margin-left: rem-calc(10);
					line-height: 0;

					@media #{$medium-up} {
						position: relative;
						top: 3px;
					    font-size: rem-calc(32);
					}
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}

		li:last-child {
			margin-bottom: 0;
		}
	}
}

//-----------------------------------------------------------------
// CTA SECTION
//-----------------------------------------------------------------

.cta-section {
	padding: rem-calc(0 0 40 0);
	background: url(../img/content/contact-bg.jpg) no-repeat center center;
	background-size: cover;

	@media #{$medium-up} {
		padding: rem-calc(75 0);
	}

	.xxlarge-10 {
		@media #{$xxlarge-up} {
			padding-right: rem-calc(50);
		}
	}

	p, ul {
		font-family: $font-family-sans-serif; // Montserrat (Normal)
	}

	h2, h3 {
		margin-bottom: rem-calc(25);
		font-size: rem-calc(26);
		font-weight: 700;
	}

	//===========================================
	// CONTACT HEADING
	//===========================================

	.contact-heading {
		display: flex;
		align-items: flex-start;
		color: white;
		margin-bottom: rem-calc(26);

		h3 {
			color: white;
			margin-bottom: rem-calc(10);
		}

		p {
			font-size: rem-calc(18);
			margin-bottom: 0;
		}

		.fa-comments-o {
			display: flex;
			margin-right: rem-calc(18);
			font-size: rem-calc(50);

			@media #{$medium-up} {
				font-size: rem-calc(70);
			}
		}
	}

	//===========================================
	// TILE BUTTON
	//===========================================

	.tile-button {
		background-color: $primary-color;

		@media #{$medium-up} {
		    font-size: rem-calc(20);
		}

		&:hover {
			background-color: darken($primary-color, 5%);
		}
	}
}

//-----------------------------------------------------------------
// Offices Grid (Smaller gutter to align with homepage)
//-----------------------------------------------------------------

.offices-grid {
	@include block-grid($per-row: 2, $spacing: rem-calc(20), $base-style: true);
}

//-----------------------------------------------------------------
// Media Tile News - used in hero on homepage
//-----------------------------------------------------------------

.cta-section .news-panel {
	position: relative;
	background: rgba(#2c3034, 0.74);
	overflow: hidden;

	@media #{$small-only} {
		margin-bottom: rem-calc(30);
		margin-left: -20px;
	    width: calc(100% + 39px);
	    padding: rem-calc(20);
	}

	@media #{$medium-up} {
	    margin-bottom: rem-calc(40);
	    padding: rem-calc(20);
	}

	@media #{$xlarge-up} {
	    padding: rem-calc(30 40);
	}

	@media #{$xxlarge-up} {
	    margin-bottom: 0;
	}

	li {
		padding-bottom: 0;
	}

	// make clean 3 news items on mobile
	li:nth-child(4) {
		@media #{$small-only} {
			display: none;
		}
	}

	.media-tile-link {
		@media #{$xxlarge-up} {
			position: absolute;
			top: 37px;
			right: 24px;
			font-size: rem-calc(13);
		}
	}

	//---

	.media-article {

		@media #{$xxlarge-up} {
		    padding-right: rem-calc(30);
		}

		date {
			color: #808385;
			font-size: rem-calc(12);
			text-transform: uppercase;
			padding-bottom: 0;
		}

		.media-link {
			color: white;
		}

		p {
			color: white;
		}
	}
}

//-----------------------------------------------------------------
// Panel Search
//-----------------------------------------------------------------