/*
    HOMEPAGE.CSS

    - Last updated: 10.09.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Legal Services Listing
//-----------------------------------------------------------------

.legal-services {
	position: relative;
	height: 100%;

	ul {
		height: 100%;
		background: rgba($primary-color, 0.9);
		margin: 0;
		list-style: none;
		font-size: rem-calc(21);

		@media #{$xlarge-up} {
		    font-size: rem-calc(31);
		}

		li {
			border-bottom: 1px solid #56AAD5;

			&:last-child {
				border-bottom: 0;
			}

			a {
				font-family: $font-family-serif;
				display: block;
				color: white;
				font-weight: normal;
				padding: rem-calc(10 20);

				@media #{$medium-up} {
				    padding: rem-calc(10 30);
				}

				&:hover {
					// color: darken($primary-color, 10%);
					// color: white;
					background: #339AD0;
				}
			}
		}
	}

	//=========================================
	// Read More Button
	//=========================================

	.read-more-button {
		display: block;
		color: white;
		font-family: $font-family-sans-serif; // Montserrat (Normal)
		font-size: rem-calc(12);
		text-transform: uppercase;

		@media #{$small-only}, #{$medium-only}, #{$large-only} {
		    background: rgba($primary-color, 0.9);
		    padding: rem-calc(10 20 15 10);
		    text-align: right;
		    font-size: rem-calc(10);
		}

		@media #{$large-up} {
		    position: absolute;
		    bottom: rem-calc(10);
		    right: rem-calc(30);
		    background: none;
		}

		&:hover {
			color: darken($primary-color, 20%);
		}
	}
}

//-----------------------------------------------------------------
// CTA Section
//-----------------------------------------------------------------

.cta-section {
	padding: rem-calc(25 0 40 0);

	p, ul {
		font-family: $font-family-sans-serif; // Montserrat (Normal)
	}

	img {
		padding-right: rem-calc(10);
	}

	h2, h3 {
		color: #AEB1B3;
	}
}

//-----------------------------------------------------------------
// Offices Grid (Smaller gutter to align with homepage)
//-----------------------------------------------------------------

.offices-grid {
	@include block-grid($per-row: 2, $spacing: rem-calc(20), $base-style: true);
}

//-----------------------------------------------------------------
// Media Tile News - used in hero on homepage
//-----------------------------------------------------------------

.news-panel {
	background: rgba(#2FB3FB, 0.9);
	overflow: hidden;

	@media #{$small-only} {
	    padding: rem-calc(25 20);
	}

	@media #{$large-up} {
		height: calc(100% - 90px - 20px);
	}

	@media #{$medium-only} {
	   margin-bottom: 0;
	}

	li {
		padding-bottom: 0;
	}

	.media-article {
		date {
			color: #93CCE8;
			font-size: rem-calc(12);
			text-transform: uppercase;
			padding-bottom: 0;
		}

		.media-link {
			color: white;
		}

		p {
			color: white;
		}
	}
}

//-----------------------------------------------------------------
// Panel Search
//-----------------------------------------------------------------

.panel-search {
	height: rem-calc(90);
	background: rgba(#0287CD, 0.91);

	input {
		height: calc(100% - 15px);
	}
}

