/*
    FOOTER.CSS

    - Last updated:
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Global Footer
//-----------------------------------------------------------------

.global-footer-body {
	background: $primary-color;
	padding-bottom: rem-calc(30); // special case, override section

	p, ul {
		font-family: $font-family-sans-serif; // Montserrat Normal for all
	}

	@media #{$medium-up} {
	    padding-bottom: rem-calc(50); // special case, override section
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.global-footer-links a {
	color: white;
}

//-----------------------------------------------------------------
// Footer Affiliates
//-----------------------------------------------------------------

.global-footer-affiliates {
	ul {
		list-style: none;
		margin: 0;

		@media #{$small-only} {
		    margin-bottom: rem-calc(20);
		    overflow: hidden;
		}

		li {
			margin-right: rem-calc(15);
		}
	}

	// Image sizes
	ul li:nth-child(1) img,
	ul li:nth-child(2) img {
		width: rem-calc(56);

		@media #{$xlarge-up} {
		    width: rem-calc(70);
		}
	}

	ul li:nth-child(3) img {
		width: rem-calc(41);

		@media #{$xlarge-up} {
		    width: rem-calc(51);
		}
	}

	p {
		display: inline-block;
		width: 80px;
		margin: rem-calc(0 0 0 10);
		line-height: 1;
		font-size: rem-calc(9);
		vertical-align: middle;
		color: rgba(white, 0.6);

		@media #{$medium-up} {
		    width: 105px;
		}
	}
}

//-----------------------------------------------------------------
// Footer Links
//-----------------------------------------------------------------

.global-footer-links {
	ul {
		font-size: rem-calc(14);
		list-style: none;
		margin: 0;

		@media #{$medium-up} {
		    margin-top: -34px;
		}

		li {
			@media #{$medium-up} {
			    display: inline-block;
			    margin-right: rem-calc(30);
			    transition: color 100ms ease;
			}

			a:hover {
				color: darken($primary-color, 20%);
				// opacity: 0.8;
			}
		}
	}
}

//-----------------------------------------------------------------
// Footer Bottom
//-----------------------------------------------------------------

.global-footer-bottom {
	background: darken($primary-color, 2%);
	line-height: 1;

	a {
		line-height: rem-calc(40);
		font-size: rem-calc(11);
		text-transform: uppercase;
		color: rgba(white, 0.5);
	}
}

//=========================================
//
//=========================================