/*
    HEADER.CSS

    - Last updated: 06.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------



//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {

	// position: absolute;
	// top: 0;
	// width: 100%;
	margin-bottom: rem-calc(40);
	z-index: 10;

	@media #{$medium-up} {
	    margin-bottom: rem-calc(75);
	}
}

//-----------------------------------------------------------------
// Is Fixed
//-----------------------------------------------------------------

.global-header-fixed {
	display: none;
}

.header-is-fixed .global-header-fixed {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: rem-calc(20 0);
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
	z-index: 1000;

	@media #{$xlarge-up} {
	    padding: rem-calc(25 0);
	}

	.global-header-logo img {
		width: rem-calc(60);

		@media #{$xlarge-up} {
		    width: rem-calc(87);
		}
	}
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.global-header-logo {
	position: relative;
	z-index: 1000;

	img {
		width: rem-calc(100);

		@media #{$medium-up} {
		    width: rem-calc(134);
		}

		@media #{$xlarge-up} {
		    width: rem-calc(213);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//=========================================
// Mobile Menu
//=========================================

.global-header-mobile-menu {
	position: absolute;
	// top: calc(50% - 2px);
	// top: 50%;
	top: 0;
	right: 0;
	// padding: rem-calc(8 10 12 10);
	padding: rem-calc(0 10 0 0);
	border-radius: $global-radius;
	// border: 1px solid #eee;

	// -webkit-transform: translateY(-50%);
	//     -ms-transform: translateY(-50%);
	//         transform: translateY(-50%);
}

//=========================================
// Hamburger
//=========================================

.hamburger {
	@include hamburger($width: 28px, $gap: 6px, $thickness: 5px, $color: #383E44);

	@media #{$medium-up} {
		@include hamburger($width: 28px, $gap: 6px, $thickness: 5px, $color: #383E44);
	}
}