/*
    TOPBAR.CSS

    - Last updated: 13.03.19, 06.07.15
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$global-radius: 0;

//-----------------------------------------------------------------
// NAVIGATION
//-----------------------------------------------------------------

.global-navigation {
    position: absolute;
    top: rem-calc(100);
    width: 100%;
    z-index: 100;
}

.hero-internal .global-navigation {
    top: rem-calc(145);
}

.header-is-fixed .global-navigation {
    top: rem-calc(60);
}

// Fixes glitch with MMenu changing viewport widths when scrollbar disappears
// html.no-touch {
//  overflow-y: scroll !important;
// }

//-----------------------------------------------------------------
// TOPBAR
//-----------------------------------------------------------------

.topbar {
    // Option to have in flow on medium here
    // z-index: 100;

    @media #{$large-up} {
        // position: absolute;
        // top: 0;//180px;
        // right: 0;
        // width: 100%; // locked
        // padding: 0 $column-gutter/2; // locked
    }
}

//=========================================
// ULS
//=========================================

.topbar ul {
    list-style: none; // locked
    margin: 0 -14px 0 0; // locked
    font-size: rem-calc(14);
    font-weight: 600;
    font-family: $font-family-sans-serif; // Montserrat (Normal)

    @media #{$xxlarge-up} {
        font-size: rem-calc(16);
    }
}

//=========================================
// VISUAL UL
//=========================================

.topbar > ul {
    display: table;
    float: right;

    > li {
        position: relative;
        display: table-cell;
        float: left; // prevents hairline weirdness
        transition: background 100ms linear;

        &:hover {
            background: rgba(black, 0.08); //$secondary-color;
        }

        &:hover > a .text {
            border-bottom: $secondary-color;
        }
    }
}

//=========================================
// TOP ANCHORS
//=========================================

.topbar > ul > li > a,
.topbar > ul > li > .anchor {
    display: block;
    padding: rem-calc(10 12);

    @media #{$xxlarge-up} {
        padding: rem-calc(10 19);
    }
}

//-----------------------------------------------------------------
// ALL ANCHORS
//-----------------------------------------------------------------

.topbar a {
    display: block;
    text-align: center;
    padding: rem-calc(10 15);
    color: #3D464E;
}

.topbar .active > a .text {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #474B4F;
    }
}

.topbar .active:hover .text:after {
    opacity: 0;
}

//=========================================
// NESTED DROPDOWNS
//=========================================

.topbar .has-dropdown:hover > a {
    // background: #eee;
}

// Find better way
.topbar .has-dropdown.active:hover > a {
    // background: $secondary-color;
}

/* UX decision, dropdowns are fiddly on tablets */
.topbar .has-dropdown:hover > .dropdown {
    @media #{$large-up} {
        opacity: 1;
        height: auto;
        overflow: visible;
    }
}

.topbar .dropdown .has-dropdown:hover > .dropdown {
    @media #{$medium-up} {
        opacity: 1;
        height: auto;
        padding: rem-calc(16);
    }
}

// Don't show when fixed
// .header-is-fixed .topbar .dropdown {
//     display: none;
// }

.topbar .dropdown {
    display: block;
    position: absolute;
    opacity: 0;
    height: 0; // so hit areas aren't triggered
    overflow: hidden; // so hit areas aren't triggered
    top: auto;
    left: 0;
    // width: rem-calc(240);
    width: rem-calc(280);
    background: white;
    border-radius: 0 0 $global-radius $global-radius;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.topbar > ul > li:last-child .dropdown {
    right: 0;
}

/* Third level nesting */
.topbar .dropdown .dropdown {
    position: absolute;
    top: 0;
    left: 100%;
}

.topbar .dropdown li {
    position: relative;
    float: none;
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(black, 0.1);
}

.topbar .dropdown a {
    margin: 0;
    text-align: left;
    transition: none;
    font-size: rem-calc(13);
    font-weight: 500;
    border-radius: 0 0 $global-radius $global-radius;
    // color: white;
}

.topbar .dropdown li:last-child,
.topbar .dropdown li:last-child a {
    border-bottom: 0;
}

.topbar .dropdown a:hover {
    background: rgba(black, 0.05);
}

//=========================================
//
//=========================================