/*
    NAVIGATION.CSS

    - Last updated: 06.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.global-navigation {
    position: absolute;
    top: rem-calc(100);
    width: 100%;
    z-index: 100;
}

.hero-internal .global-navigation {
    top: rem-calc(145);
}

.header-is-fixed .global-navigation {
    top: rem-calc(60);
}

// Fixes glitch with MMenu changing viewport widths when scrollbar disappears
// html.no-touch {
//  overflow-y: scroll !important;
// }

//-----------------------------------------------------------------
// Topbar
//-----------------------------------------------------------------

.topbar {
    // Option to have in flow on medium here
    // z-index: 100;

    @media #{$large-up} {
        // position: absolute;
        // top: 0;//180px;
        // right: 0;
        // width: 100%; // locked
        // padding: 0 $column-gutter/2; // locked
    }
}

//=========================================
// General ULs
//=========================================

.topbar ul {
    list-style: none; // locked
    margin: 0 -14px 0 0; // locked
    font-size: rem-calc(15);
    font-family: $font-family-sans-serif; // Montserrat (Normal)
    // text-transform: uppercase;
}

//=========================================
// Visual UL
//=========================================

.topbar > ul {
    display: table;
    // width: 100%; // option A
    float: right; // option B
    // background: aqua;

    > li {
        @include transition();
        position: relative;
        // position: relative; // option - depending on dropdown
        display: table-cell;
        float: left; // prevents hairline weirdness
        padding: rem-calc(10 14);
        // margin: rem-calc(0 2);

        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -o-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;

        &:hover {
            background: $secondary-color;
        }

        &:hover > a {
            color: white;
        }
    }
}

//=========================================
// Visual Anchors
//=========================================

.topbar > ul > li > a,
.topbar > ul > li > .anchor {
    display: block;
    // line-height: rem-calc(40); // opinionated
    // padding: rem-calc(0 12); // opinionated
    padding: 0;
    // margin: rem-calc(0 0 0 24);
    // text-transform: uppercase;
    // border-radius: $global-radius;

    // &:hover {
    //     background: $secondary-color;
    //     // color: $primary-color;
    //     color: white;
    // }
}

//-----------------------------------------------------------------
// General Anchors
//-----------------------------------------------------------------

.topbar a {
    @include transition('background-color');
    display: block;
    text-align: center;
    padding: rem-calc(10 15);
    // color: $body-font-color;
    color: #3D464E; //$secondary-color;
}

//.topbar > ul > li > a:active,
.topbar .active > a {
    // background: $secondary-color;
    // color: white;
    border-bottom: 2px solid #474B4F;

    // &:hover {
    //     // background: $secondary-color !important;
    // }
}

//=========================================
// Nested Dropdowns
//=========================================

.topbar .has-dropdown:hover > a {
    // background: #eee;
}

// Find better way
.topbar .has-dropdown.active:hover > a {
    // background: $secondary-color;
}

/* UX decision, dropdowns are fiddly on tablets */
.topbar .has-dropdown:hover > .dropdown {
    @media #{$medium-up} {
        opacity: 1;
        height: auto;
        overflow: visible;
    }
}

.topbar .dropdown .has-dropdown:hover > .dropdown {
    @media #{$medium-up} {
        opacity: 1;
        height: auto;
        padding: rem-calc(16);
    }
}

// Don't show when fixed
.header-is-fixed .topbar .dropdown {
    display: none;
}

.topbar .dropdown {
    @include transition('opacity');
    display: block;
    position: absolute;
    opacity: 0;
    height: 0; // so hit areas aren't triggered
    overflow: hidden; // so hit areas aren't triggered
    // top: 100%;
    top: auto;
    left: 0;
    width: rem-calc(240);
    background: lighten($secondary-color, 10%);
    margin: 10px 0 0 0;
    border-radius: 0 0 $global-radius $global-radius;
}

.topbar > ul > li:last-child .dropdown {
    right: 0;
}

/* Third level nesting */
.topbar .dropdown .dropdown {
    position: absolute;
    top: 0;
    left: 100%;
}

.topbar .dropdown li {
    position: relative;
    float: none;
    display: block;
    margin: 0;
}

.topbar .dropdown a {
    // border-bottom: 1px solid darken(#eee, 8%);
    margin: 0;
    text-align: left;
    transition: none;
    font-size: rem-calc(13);
    border-radius: 0 0 $global-radius $global-radius;
    color: white;
}

.topbar .dropdown li:last-child a {
    border-bottom: 0;
    // border-bottom: 1px solid #CCCCCC;
}

.topbar .dropdown a:hover {
    background: $secondary-color; //#eee;
    color: white;
}

//=========================================
//
//=========================================