---
layout: master
---

{% assign featured_legal_services = site.data.sitemap[3].children | where: "featured", true %}
{% assign settings = site.data.settings %}

<div class="hero-medium-up">

	<div class="hero-small-only">

		<!-- HEADER -->
		<header data-global-header class="global-header">
		    {% include header.html %}
		</header>

		<!-- Intro Text -->
		<div class="row outer-row">
			<div class="xlarge-9 columns">
				<p class="lead">Introductory text, eg. our lawyers in Melbourne and Mount Waverley provide high quality legal services to clients including corporate, small business and private. Please select one of the following practice areas to find out how we can help you with your legal issue...</p>
			</div>
		</div>

	</div> <!-- .hero-small-only -->

	<div class="row outer-row collapse-for-small">
		<div class="large-8 xlarge-10 columns" data-match-height>

			<!-- Legal Services -->
			<div class="legal-services">
				<ul>
					{% for item in featured_legal_services where item.featured == true %}
						<li><a href="{{ item.url }}">{{ item.title }} <i class="fa fa-angle-right"></i></a></li>
					{% endfor %}
				</ul>
				<a class="read-more-button" href="/legal-services/">View our Full List of Legal Services &nbsp;<i class="fa fa-angle-right"></i></a>
			</div> <!-- .legal-services -->

		</div> <!-- .large-8 -->
		<div class="large-8 xlarge-6 columns hide-for-medium-only bold-panel" data-match-height>

			<!-- News Panel Etc -->
			{% include news_panel.html %}

			<div class="hide-for-small-only">
				{% include search_form.html %}
			</div>

		</div>
	</div> <!-- .outer-row -->
</div> <!-- .hero-medium-up -->

<!-- News Panel Etc (Duplicate) -->
<div class="row outer-row show-for-medium-only">
	<div class="columns bold-panel">
		{% include news_panel.html %}
		{% include search_form.html %}
	</div>
</div>

<!-- CTU Section -->
<section class="section cta-section">
	<div class="row outer-row">
		<div class="large-7 xxlarge-9 columns">

			<div class="media">
				<div class="media-left show-for-xlarge-up-table-cell">
					<div class="media-object">
						<img src="/img/template/speech-bubble.svg" alt="Get in Touch">
					</div>
				</div>
				<div class="media-body">
					<h2>Get in Touch</h2>
					<p>Contact us today to discuss your legal matter, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Email us at <a href="mailto:{{ settings.email }}">{{ settings.email }} ></a></p>
				</div>
			</div>

		</div>
		<div class="large-9 xxlarge-6 columns">

			<!-- Offices Grid -->
			<ul class="offices-grid">
				{% for office in settings.offices | limit: 2 %}
					<li><a class="tile-button" href="/contact/">{{ office.title }}</a></li>
				{% endfor %}
			</ul>

		</div>
	</div>
</section>