---
layout: master
---

{% assign featured_legal_services = site.data.sitemap[3].children | where: "featured", true %}
{% assign settings = site.data.settings %}

<!-- HERO MEDIUM UP -->
<div class="hero-medium-up spec-section has-image-bg has-light-tint" style="background-image: url({{ site.assets }}/img/content/bg-2.jpg)">

	<!-- HERO SMALL ONLY -->
	<div class="hero-small-only spec-section has-image-bg has-light-tint" style="background-image: url({{ site.assets }}/img/content/bg-2.jpg)">

		<!-- HEADER -->
		<header data-global-header class="global-header">
		    {% include header.html %}
		</header>

		<!-- INTRO TEXT -->
		<div class="row outer-row">
			<div class="xlarge-10 columns">

				<!-- HERO TEXT -->
				<div class="spec-hero-text">
					<h1>HOCW Layers - Melbourne CBD &amp; Eastern Suburbs</h1>
					<div class="lead">
						<p>HOCW is an established and leading mid-size law firm with experienced and accredited lawyers delivering a range of corporate and private client legal services.</p>

						<p>Our clients include corporate clients across of range of industries, professionals, SMEs, the self- employed, family businesses, families, couples and individuals.</p>
					</div>
				</div>

			</div>
		</div>
	</div> <!-- /.hero-small-only -->

	<!-- HOMEPAGE FEATURE BOXES -->
	<div class="row outer-row collapse-for-small">
		<div class="columns">

			<!-- HOMEPAGE FEATURE FLEX -->
			<div class="homepage-feature">
				<div class="col-1 legal-services">
					<ul>
						<li><a href="#">Commercial &amp; Corporate Law<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Commercial Litigation &amp; Dispute Resolution<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Building &amp; Construction<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Owners Corporation<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Franchises<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Employment &amp; Workplace Relations<i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<div class="col-2">
					<p>HOCW's Commercial practice has a particular focus on <strong>Business, Succession Law, Franchises, Employment, Intellectual Property, Superannuation, Leasing – commercial & retail, Owners Corporations, Building & Construction, Domestic Building Disputes, Insolvency, and Consumer Law.</strong></p>
				</div>
			</div>

			<!-- HOMEPAGE FEATURE FLEX -->
			<div class="homepage-feature">
				<div class="col-1 legal-services">
					<ul>
						<li><a href="#">Wills &amp; Estates<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Family Law<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Property &amp; Conveyancing<i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<div class="col-2">
					<p>Our Private Law practice provides families, couples and individuals with the legal services including <strong>Wills & Estates, Family Law, Conveyancing, and Aged Care & Retirement Living.</strong></p>
				</div>
			</div>

		</div>
	</div>
</div> <!-- /.hero-medium-up -->

<!-- CTA SECTION -->
<section class="section cta-section has-image-bg has-dark-tint" style="background-image: url({{ site.assets }}/img/content/bg-3.jpg)">
	<div class="row outer-row">
		<div class="xxlarge-10 columns">

			{% include news_panel.html %}

		</div>
		<div class="xxlarge-6 columns">

			<!-- CONTACT HEADING -->
			<div class="contact-heading">
				<div>
					<i class="fa fa-comments-o"></i>
				</div>
				<div>
					<h3>Speak to one of our experts</h3>
					<p>Get in touch today to make an appointment...</p>
				</div>
			</div>

			<!-- OFFICE BUTTONS -->
			<ul class="offices-grid">
				{% for office in settings.offices | limit: 2 %}
					<li><a class="tile-button" href="/contact/">{{ office.title }}</a></li>
				{% endfor %}
			</ul>

		</div>
	</div>
</section>