---
layout: master
---

<!-- HERO INTERNAL -->
<div class="hero-internal spec-section has-image-bg has-light-tint" style="background-image: url({{ site.assets }}/img/content/bg-1.jpg)">

	<!-- GLOBAL HEADER -->
	<header class="global-header" data-global-header>
	    {% include header.html %}
	</header>

</div> <!-- /.hero-internal -->

{% if page.breadcrumbs %}
<!-- BREADCRUMBS -->
<nav class="breadcrumbs-bar">
    <div class="row outer-row">
        <div class="columns">
            {% include snippets/breadcrumbs.html %}
        </div>
    </div>
</nav>
{% endif %}

<!-- STAGE -->
<div class="stage section">

	<!-- HEADER -->
	<header class="header">
		<div class="row outer-row">
			<div class="columns">

				{% if page.title_override %}
			    	<h2 class="h1">{{ page.title_override }}</h2>
			 	{% else %}
			 		<h1>{{ page.title }}</h1>
				{% endif %}

			</div>
		</div>
	</header>

	{{ content }}

</div> <!-- /.stage -->