/*
    BREADCRUMBS.CSS

    - Last updated: 31.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs-bar {

	// margin-top: -50px;

    .lv-breadcrumbs {
        margin: rem-calc(20 0 0 0);
        font-size: rem-calc(12);

        @media #{$medium-up} {
            margin: rem-calc(-15 0 0 160);
        }

        @media #{$xlarge-up} {
            margin: rem-calc(-25 0 0 240);
        }

        li {
            text-transform: capitalize;
            display: inline-block;

            &:after {
            	content: "\f105";
                font-family: "FontAwesome";
                margin: rem-calc(0 8 0 10);
                color: #B7B7B7;
                font-size: rem-calc(14);
                font-weight: bold;
            }

            &:last-child:after {
            	display: none;
            }
        }

        a {
            color: #999B9D;
        }
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//=========================================
//
//=========================================