/*
    BUTTONS.CSS

    - Last updated: 03.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.tile-button {
	position: relative;
	display: block;
	padding: rem-calc(20);
	background: $secondary-color;
	color: white;
	font-size: rem-calc(16);
	font-weight: bold;
	// height: rem-calc(76);
	height: rem-calc(112);

	@media #{$large-up} {
	    // height: rem-calc(112);
	}

	&:hover {
		background: darken($secondary-color, 10%);
		color: white;
	}

	&:after {
		position: absolute;
		top: rem-calc(27);
		right: rem-calc(20);
		content: "\f105";
		font-family: "FontAwesome";
		margin-left: rem-calc(5);
		font-size: rem-calc(30);
		line-height: 0;
	}
}

//=========================================
//
//=========================================

.tile-button-group li {
	// padding-bottom: 0;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------