/*
    BUTTONS.CSS

    - Last updated: 01.09.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Tile Button
//-----------------------------------------------------------------

.tile-button {
	position: relative;
	display: block;
	padding: rem-calc(20 40 20 20);
	background: $secondary-color;
	color: white;
	// font-size: rem-calc(16);
	font-weight: bold;
	height: rem-calc(80);
	font-family: $font-family-sans-serif; // Montserrat (Normal)

	@media #{$medium-up} {
	    font-size: rem-calc(16);
	    height: rem-calc(112);
	}

	&:hover {
		background: $secondary-color;
		color: white;

		@media #{$xlarge-up} {
		    background: darken($secondary-color, 20%);
		    color: white;
		}
	}

	&:after {
		position: absolute;
		top: rem-calc(30);
		right: rem-calc(20);
		content: "\f105";
		font-family: "FontAwesome";
		margin-left: rem-calc(5);
		font-size: rem-calc(30);
		line-height: 0;
	}
}

//-----------------------------------------------------------------
// Media Button
//-----------------------------------------------------------------

.image-tile-button {
	display: block;

	img {
		margin: 0;
		padding: 0;
		vertical-align: top;
		line-height: 1;
	}

	i {
		display: inline;
	}

	&.primary-color .image-tile-button-header { background: $primary-color; }
	&.secondary-color .image-tile-button-header { background: $secondary-color; }
	&.tertiary-color .image-tile-button-header { background: $tertiary-color; }
	&.quaternary-color .image-tile-button-header { background: $quaternary-color; }

	.image-tile-button-header {
		@include transition('padding');
		color: white;
		padding: rem-calc(15 15 15 15);
		margin: 0;
		font-size: rem-calc(16);
		text-transform: uppercase;
		line-height: 1.2;

		@media #{$medium-up} {
		    height: rem-calc(90);
		}
	}
}

.image-tile-button:hover .image-tile-button-header {
	@media #{$xlarge-up} {
	    padding-top: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// Grey Button
//-----------------------------------------------------------------

.grey-button {
    position: relative;
    display: block;
    text-align: left;
    padding: rem-calc(16 35 16 16);
    background: $secondary-color;
    color: white;
    margin-bottom: rem-calc(8);

    &:before,
    &:after {
        position: absolute;
        left: rem-calc(15);
        top: 50%;
        margin-top: rem-calc(-18);
        font-family: 'FontAwesome';
        font-size: rem-calc(34);
    }

    &:after {
        content: "\f105";
        left: auto;
        right: rem-calc(15);
    }

    &:hover {
    	background: $secondary-color;

    	@media #{$xlarge-up} {
    	    background: darken($secondary-color, 10%);
    	}
    }
}

//-----------------------------------------------------------------
// Arrow Button
//-----------------------------------------------------------------



//=========================================
//
//=========================================

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------