/*
    HERO.CSS

    - Last updated: 13.03.19, 21.08.15
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// HOMEPAGE HERO
// hero switches for mobile so image doesn't over extend
//-----------------------------------------------------------------

.hero-medium-up {
	@media #{$medium-up} {
	    padding: rem-calc(90 0 40 0);
	}

	@media #{$large-up} {
	    padding-bottom: rem-calc(65);
	}

	@media #{$xlarge-up} {
	    padding-top: rem-calc(80);
	}
}

.hero-small-only {
	@media #{$small-only} {
		padding-top: rem-calc(75);
	}
}

.hero-small-only,
.hero-small-only:after {
	@media #{$medium-up} {
	    background: none !important;
	}
}

//-----------------------------------------------------------------
// HERO INTERNAL
//-----------------------------------------------------------------

.hero-internal {
	padding-top: rem-calc(75);
	height: rem-calc(155);
	margin-bottom: rem-calc(20);
	background-position: top center !important;

	@media #{$medium-up} {
		height: rem-calc(190);
		padding-top: rem-calc(80);
		margin-bottom: rem-calc(24);
	}

	@media #{$xlarge-up} {
		height: rem-calc(250);
		padding-top: rem-calc(80);
		margin-bottom: rem-calc(42);
	}
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------