/*
    HERO.CSS

    - Last updated: 21.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.hero-medium-up {
	position: relative;

	@media #{$medium-up} {
	    padding: rem-calc(90 0 40 0); // no idea
	    // margin-bottom: rem-calc(40);
	    background: url(../img/content/hero-2.jpg) no-repeat top center;
	    background-size: cover;
	}

	@media #{$large-up} {
	    padding-bottom: rem-calc(65);
	}

	@media #{$xlarge-up} {
	    padding-top: rem-calc(80);
	}
}

.hero-small-only {
	position: relative;

	@media #{$small-only} {
		padding-top: rem-calc(75);
	    background: url(../img/content/hero-2.jpg) no-repeat 30% top;
	    background-size: cover;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.hero-internal {
	position: relative;

	background: url(../img/content/hero-1.jpg) no-repeat top center;
	background-size: cover;
	padding-top: rem-calc(75);
	height: rem-calc(155);
	margin-bottom: rem-calc(20);

	@media #{$medium-up} {
		height: rem-calc(190);
		padding-top: rem-calc(80);
		margin-bottom: rem-calc(24);
	}

	@media #{$xlarge-up} {
		height: rem-calc(250);
		padding-top: rem-calc(80);
		margin-bottom: rem-calc(42);
	}
}


//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------