/*
    MEDIA-TILE.CSS

    - Last updated: 04.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Tile
//-----------------------------------------------------------------

.media-tile {
	background: lighten($primary-color, 10%);
	padding: rem-calc(20 30 15 30);
	margin-bottom: rem-calc(20);
	color: white;

	a {
		color: white;
	}

	.media-tile-link {
		display: block;
		text-transform: uppercase;
		color: white;
		font-size: rem-calc(10);
		font-family: $font-family-sans-serif; // Montserrat (Normal)

		@media #{$medium-up} {
		    font-size: rem-calc(12);
		}

		&:hover {
			color: darken($primary-color, 10%);
		}
	}

	.media-tile-body {
		margin-bottom: rem-calc(5);
	}

	h2, h3, h4, h5, h6 {
		color: white;
	}
}

//-----------------------------------------------------------------
// BGs
//-----------------------------------------------------------------

.tertiary-bg-color {
	background: $tertiary-color;
}

.secondary-bg-color {
	background: $secondary-color;
}

//-----------------------------------------------------------------
// Media Tile Dark
//-----------------------------------------------------------------

.media-tile-dark {
	background: #4A525A;

	p i {
		font-size: rem-calc(18);
	}

	p {
		color: #ddd;
	}

	a {
		color: #ddd;
	}

	.lv-expander {
		background: #5D6770;
		padding: rem-calc(20);
		margin-bottom: rem-calc(15);

		[data-expander-trigger] {
			cursor: pointer;
		}

		input,
		textarea {
			border: 0;
			background: #DDDDDD;
		}

		textarea {
			height: 143px;
		}

		.button {
			background: #3B444B;
			margin-bottom: 0;

			&:hover {
				background: darken(#3B444B, 10%);
			}
		}

		.lv-expander-arrow {
			float: right;
			z-index: 1;

			i {
				font-size: rem-calc(30);
				line-height: 0.6;
			}
		}

		> p {
			margin-bottom: 0;
		}
	}
}

//=========================================
// Context
//=========================================

.global-footer .media-tile {
	@media #{$small-only} {
	    margin-bottom: rem-calc(40);
	}
}