/*
    SOCIAL-MEDIA.CSS

    - Last updated: 03.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.social-media {
	z-index: 1;

	@media #{$small-only} {
	    overflow: hidden;
	}

	a {
		background: #41484E;
		font-size: rem-calc(25);
		color: white;
		width: 39px;
		height: 39px;
		line-height: 39px;
		text-align: center;
		margin-bottom: rem-calc(20);

		@media #{$large-up} {
		    width: 44px;
		    height: 44px;
		    line-height: 44px;
		}

		&:hover {
			background: lighten(#41484E, 5%);
		}
	}
}

//-----------------------------------------------------------------
// Contexts
//-----------------------------------------------------------------

.global-footer .social-media {
	@media #{$medium-up} {
		position: absolute;
		left: -96px;
	}

	@media #{$xlarge-up} {
	    left: -135px;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================