/*
    SOCIAL-MEDIA.CSS

    - Last updated: 03.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.social-media {
	z-index: 1;

	@media #{$small-only} {
	    overflow: hidden;
	}

	a {
		display: block;
		background: #41484E;
		font-size: rem-calc(25);
		color: white;
		width: 39px;
		height: 39px;
		line-height: 39px;
		text-align: center;
		margin-bottom: rem-calc(20);

		@media #{$large-up} {
		    width: 44px;
		    height: 44px;
		    line-height: 44px;
		}

		&:hover {
			background: darken(#41484E, 10%);
		}
	}
}

//-----------------------------------------------------------------
// Contexts
//-----------------------------------------------------------------

.global-footer .social-media {
	@media #{$medium-up} {
		position: absolute;
		top: rem-calc(100);
		left: -163%;
	}

	@media #{$xlarge-up} {
		top: 0;
	    left: rem-calc(-239);
	}
}

// Off Canvas
.off-canvas-menu .social-media {
	a {
		width: rem-calc(39);
		height: rem-calc(39);
		line-height: rem-calc(39);
		display: inline-block;
		background: #555C62;
		margin: rem-calc(15 0 10 0);
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================