/*
    TOP-SEARCH-BAR.CSS

    - Last updated: 21.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.top-search-bar {
	position: absolute;
	top: 0;
	width: 100%;
	height: rem-calc(50);
	color: rgba(white, 0.7);
	overflow: hidden;
	background: rgba(black, 0.5);

	ul {
		display: block;
		float: right;
		line-height: rem-calc(50);

		li {
			margin-left: rem-calc(20);
		}
	}

	a {
		color: rgba(white, 0.7);
	}

	i {
		// font-size: rem-calc(18);
	}

	.top-search-bar-phone {
		float: left;
	}
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------