/*
    TYPE.CSS

    - Last updated: 13.03.19, 04.05.15
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// TYPE
//-----------------------------------------------------------------

a,
.anchor {
	transition: color 150ms ease, background 150ms ease;
	cursor: pointer;
}

//=========================================
// LEAD
// Used once in homepage
//=========================================

p.lead,
.lead p {
	font-size: rem-calc(15);
	font-family: $font-family-sans-serif; // Montserrat (Normal)
}

//=========================================
// NEWS FEED ITEM
//=========================================

.feed-item {
	font-weight: bold; // will snag date
	font-family: $font-family-sans-serif; // Montserrat (Normal)
}

//=========================================
// CONTENT HEADER
// Get roughly 50 pixels space between content
//=========================================

.header h1 {
	@media #{$medium-up} {
	    margin-bottom: rem-calc(30);
	}
}

//=========================================
// GRANULARITY
//=========================================

.h1 { font-size: $h1-font-size - $h1-font-reduction; }
.h2 { font-size: $h2-font-size - $h2-font-reduction; }
.h3 { font-size: $h3-font-size - $h3-font-reduction; }
.h4 { font-size: $h4-font-size - $h4-font-reduction; }
.h5 { font-size: $h5-font-size - $h5-font-reduction; }
.h6 { font-size: $h6-font-size - $h6-font-reduction; }

@media #{$medium-up} {
  .h1 { font-size: $h1-font-size; }
  .h2 { font-size: $h2-font-size; }
  .h3 { font-size: $h3-font-size; }
  .h4 { font-size: $h4-font-size; }
  .h5 { font-size: $h5-font-size; }
  .h6 { font-size: $h6-font-size; }
}

//=========================================
//
//=========================================