/*
    LIQUIDVISUAL HERO :: A Personal Framework

    - updated: 07.07.15
    - liquidvisual.com

    - Notes -

    - liquidvisual recommends bxSlider for hero carousels
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$hero-height-small: calc(100vh - 50px) !default;
$hero-height-medium: rem-calc(570) !default;
$hero-carousel-bullet-size: rem-calc(16) !default;

//-----------------------------------------------------------------
// Hero Module
//
// Design: Mobile is always 'auto'
//-----------------------------------------------------------------

.lv-hero-module {
    overflow: hidden;
    height: $hero-height-small;

    @media #{$medium-up} {
       height: $hero-height-medium;
    }

    //=========================================
    // Has Auto Height
    //=========================================

    &.has-auto-height {
        height: auto;
    }

    //=========================================
    // Has Fixed Height
    //=========================================

    &.has-fixed-height {
        height: $hero-height-small;

        @media #{$medium-up} {
            height: $hero-height-medium;
        }
    }
}

//-----------------------------------------------------------------
// Hero - Slides
//-----------------------------------------------------------------

.lv-hero {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    //=========================================
    // For Positioning Captions
    //=========================================

    .table-wrapper {
        display: table;
        width: 100%;
        height: 100%;

        .table-cell {
            display: table-cell;

            @media #{$medium-up} {
                vertical-align: middle;
            }
        }
    }
}

//-----------------------------------------------------------------
// Hero - Caption
//-----------------------------------------------------------------

.lv-hero-caption {
    display: inline-block; /* more flexibility */
    width: 100%; /* mobile */
    margin: rem-calc(50 0);

    @media #{$medium-up} {
        width: auto;
    }
}

//-----------------------------------------------------------------
// Hero - Carousel Controls
//-----------------------------------------------------------------

.lv-hero-controls {
    position: absolute;
    top: rem-calc(350);
    width: 100%;
    background: aqua;
    z-index: 100;

    .lv-hero-prev a,
    .lv-hero-next a {
        position: absolute;
        width: rem-calc(30);
        height: 100%;
        line-height: rem-calc(40);
        cursor: pointer;
        text-align: center;

        &:after {
            font-family: 'FontAwesome';
            font-size: rem-calc(60);
            line-height: inherit;
            color: white;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
        }
    }

    .lv-hero-prev a {
        left: rem-calc(15);

        &:after {
            content: "\f104";
        }
    }

    .lv-hero-next a {
        right: rem-calc(15);

        &:after {
            content: "\f105";
        }
    }
}

//-----------------------------------------------------------------
// Hero - Carousel Controls
//-----------------------------------------------------------------

.lv-hero-carousel-bullets-wrapper {
    position: absolute;
    bottom: rem-calc(100);
    left: 0;
    width: 100%;
    z-index: 1000;
}

.bx-pager-item {
    display: inline-block;
    margin: 0 3px;
}

.bx-pager-item a {
    display: inline-block;
    width: $hero-carousel-bullet-size;
    height: $hero-carousel-bullet-size;
    background: rgba(black, 0.7);
    border-radius: 100%;
    border: 1px solid #BFBFBF;
    overflow: hidden;
    text-indent: -9999px;
}

.bx-pager-item a.active {
    background: $secondary-color;
    border: 1px solid #676767;
}