/*
    SPECIAL.CSS

    - Last updated: 03.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

.show-for-xlarge-up-table-cell {
	display: none !important;

	@media #{$xlarge-up} {
	    display: table-cell !important;
	}
}

.right-for-medium-up {
	@media #{$medium-up} {
		float: right !important;
	}
}